@model IEnumerable<Pry_Agencia_Viajes.Habitacion>

<div class="super_container">

    @Html.Partial("CabezeraHabitaciones", "Lista de Habitaciones")
    <div class="">
        <br />
        <div class="container">
            <p>
                @Html.ActionLink("Nuevo Tipo de Habitación", "Create", null, new { @class = "btn btn-primary" })
            </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.hab_nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hab_numero_camas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hab_numero_banos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hab_telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hab_descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hab_observacion)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hab_nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hab_numero_camas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hab_numero_banos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hab_telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hab_descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hab_observacion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.hab_id }, new { @class = "btn btn-warning btn-sm btn-block" })
                    <button id="botonModal" type="button" onclick="pasarIdHotel(@item.hab_id)" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#exampleModal">
                        Eliminar
                    </button>
                </td>
            </tr>
}

            </table>

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Actividad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar los datos del hotel?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>


                @using (Html.BeginForm("Delete", "Habitaciones", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input id="valor_id_Hotel" type="number" name="id" hidden/>
                    <input type="submit" value="Si, Eliminar" class="btn btn-danger" />
                }

            </div>
        </div>
    </div>
</div>


<script>
    var id_cod;
    function pasarIdHotel(data) {
        console.log(data);
        id_cod = data;
        document.getElementById("valor_id_Hotel").value = id_cod;
    }

</script>
